
.body{
	background: /*linear-gradient(to bottom,black,white);*/#F2F2F2;
	padding:1%;
	padding-top:0px;
}
.header{
	padding:0px 1%;
	background:#000000;
}
.footer{
	padding: 0px 1%;

}
.footer .container-main{
	
}
.container-main{
	max-width:900px;
	margin:0px auto;
	padding:0px;
}
.pad-20{
	padding:20px 0px;
}
.pad-header{
	padding:20px 0px;
}

.notify-container{
	background: white;
	padding:30px;
}
.table{
	border:1px;
	width:100%;
}
.no-notify{
	background: #f8f8f8;
	padding:10px;
}
.new-unread{
	color:#e67e22;
	border:1px solid #f39c12;
	font-size: 10px;
	padding:5px 2px;
	margin-left: 10px;
	border-radius: 4px;
}

	.up{
		font-size:20px;
	}
	.s-icons{
		color:silver;
	}
	.s-icons:hover{
		color:#7f8c8d;
	}
.ftr{
  padding-left:5px;
  font-size:10px;
 }
 ul.ftr_menu{
  margin:0px;
  padding:0px;
 }
 ul.ftr_menu li{
  display:inline;
  padding:5px;
 }
 a.tw{
 	color:#7f8c8d;
 }
@media screen and (max-width:640px){
	.container-main{
	margin:0px auto;
	padding:10px 10px ;
	}
	.footer{
		text-align: center;
	}
	.ftrr .bcol-30, .ftrr .bcol-70{
		width:100%;
	}
	.pull-right{
		float:none;
		text-align: center;
	}
	.logo{
		display: block;
		text-align: center;
		padding:20px 0px;
	}
	.header{
		padding:0px;
	}
	.pad-header{
		padding:0px;
	}
	.bcol-25,.bcol-75{
		width:100%;
	}
	.bcol-30{
		width:10%;
	}
	.bcol-70{
		width:90%;
	}
}
@media screen and (max-width:480px){
	.notify-container{
	background: white;
	padding:10px;
	}
	h1{
		font-size: 25px;
		line-height: 35px;
	}
	.bcol-30{
		width:100%;
	}
	.bcol-70{
		width:100%;
	}
}

