.menu-bar{
	padding-top:13px;
	margin:0px;
	list-style: none;
	float:right;
}
.menu-bar li{
	padding:10px;
	margin:0px;
	color:white;
	display: inline;
}
.menu-bar li:hover{
 	border:1px solid white;
	background:#2C2B2C;
	cursor: pointer;
	border-radius: 5px;
}

.menu-bar li.product{
	border:1px solid white;
	background:#e74c3c;	
	cursor: pointer;
	border-radius: 5px;
}
.fa-space{
	padding:0px 5px 0px 0px;
}

.menu-text{
	color:white;
	text-align:center;
	display:none;
	padding:10px;
	cursor:pointer;
}
.menu-unread{
	background: #e74c3c;
	color:white;
	padding:5px;
	border-radius: 10px;
	font-weight: bold;
}

@media screen and (max-width:640px){
	.menu{
		background:#2c3e50;
	}
	.menu-bar li:hover{
		background:#000000;
		cursor: pointer;
		border-radius: 0px;
	}
	.menu-bar{
		display: block;
		float:center;
		padding: 10px 0px;
		text-align:center;
	}
}

@media screen and (max-width:480px){
	.menu-bar li{
		background:#2c3e50;
		cursor: pointer;
		border-radius: 0px;
		width:100%;
		display:block;
	}
	.menu-bar li:hover{
		background:#000000;
	}
	.menu-text{
		display:inherit;
	}
}
