.profile{
	background:white;
	margin-bottom: 20px;
	border-radius:0px 5px 5px 0px;
	width:99%;
}
.profile-image{
	padding:10px 10px 8px;
	width:100%;
	bottom:0px;
}
.profile-container{
	padding:25px 30px 10px;
	position:relative;
}

.profile-name{
	font-size:30px;
	padding-bottom: 10px;
}
.profile-name-span{
	padding-top:10px;
}
.profile-link{
	padding-top:2px;
	padding-bottom: 15px;
	font-size:12px;
	color:silver;
}
.profile-fa-link{
	cursor:pointer;
}
.profile-fa-link:hover{
	color:#7f8c8d;
}
.profile-card{
	background:white;
	padding:15px;
	border-radius: 5px;
	margin-right:5px;
	font-weight: bold;
}

.btn-delete{
	background: #d35400;
}
.btn-block{
	background: #3498db;
}

.btn-unblock{
	background: #2980b9;
}
.btn-edit{
	background: #7f8c8d;
}
.btn-activate{
	background: #e67e22;
}
.well{
	padding:10px;
	background:#f8f8f8;
	border-radius:4px;
}
	.profile-mobile-bg,.mobile-links{
		display:none;
	}

.image_container{
	background:white;
}
.load{
	background:white;
	min-width: 90%;
	min-height: 200px;
	padding:30px;
	text-align:center;
	color:#bdc3c7;
}
.drop{
	padding:40px;
	min-height:200px;
	font-size:40px;
	border:3px dotted #bdc3c7;
}
.load_pad{
		margin:20px;
}
.form{
	padding:20px;
	max-width:500px;
	margin: 30px auto;
	text-align: left;
	font-size: 15px;
	background:#f8f8f8;
	border-radius: 5px;
}
#file{
	padding-bottom: 10px;
}	


.notify-block{
	margin:10px;
	margin-top:0px;
	margin-bottom: 20px;
	padding:10px;
	background: white;
	width:240px;
	border-radius: 5px;
}
.notify-title a{
	color:#039;
}
.unread{
	font-size: 12px;
	color:silver;
	font-weight: bold;
}
.ago{
	font-size: 10px;
	color:silver;
}
.unread-count{
	background: #95a5a6;
	color:white;
	padding:4px;
	border-radius: 10px;
}
.table{
	width:100%;
}
.followers{
	padding:2px;
	width:40px;
}
.follower-container{
	padding-left:10px;
}
.follower-title{
	font-size: 20px;
	line-height: 25px;
	padding:10px 0px; 
}
.block{
	background: white;
	padding:10px;
	border-radius: 5px;
}
.follower-count{
	font-size:11px;
	font-weight:bold;
	color:silver;
}
@media screen and (max-width:640px){
	.mobile-hidden-main-image,.notify-block{
		display: none;
	}
	.profile-image-mobile{
		width:100px;
		margin-left:30px;
		margin-top:20px;
		margin-bottom: -40px;
		border-radius: 50px;
	}
	.profile-mobile-bg{
		display:inherit;
		height:70px;
		background: #7f8c8d;
		width:100%;
	}
	.profile{
		margin-left:10px;
		margin-right:30px;
		margin-top:10px;
		width:97%;
	}

	.profile-container{
		padding:25px;
		padding-top: 65px;
	}
	.mobile-links{
		display: inherit;
		background: #f8f8f8;
		padding:10px;
		margin-bottom:10px;
		line-height: 25px;
	}
	.mb-link-span{
		padding-right: 15px;
		padding:5px;
		margin-right:15px;
		cursor: pointer;
	}
	.mb-link-span:hover{
		background: #ecf0f1;
		border-radius: 3px;
		padding:5px;
	}
	.bcol-30,.bcol-70{
		width:100%;
	}

}
@media screen and (max-width:500px){
	.profile{
		width:95%;
	}
	.image_container{
		margin-top:10px;
		padding:5px;
	}
	.load{
		padding:5px;
	}
	.well{
		padding:10px;
	}
	.drop{
		padding:10px;
		font-size: 25px;
		line-height: 30px;
	}

}
